---
import Center from "../components/Center.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductsSection from "../components/ProductsSection.astro";
import Rainbow from "../components/Rainbow.astro";
import Protection from "../components/Protection.astro";
---

<BaseLayout
  title="Arjun Aditya"
  description="Founder of Coldran. Who loves to build products on the web, He loves running as well."
  includeFooter
>
  <Center>
    <section class="home" role="main" itemscope itemtype="https://schema.org/Person">
      <h1 class="visuallyhidden">Arjun Aditya is a Founder of Coldran and designs for the web.</h1>
      <div class="intro" data-content="primary">
        <p>
        <a href="/about" itemprop="name">Arjun Aditya</a> is
          building <a href="https://coldran.com" target="_blank">Coldran</a>. Helping Teams work better with Customers.
          <br/>
        </p>
        <p>
          Dropped out of High School while working at <a href="https://">Zerops</a> where I worked around developer relations / experience and marketing.
        </p>
        <p>
          I Love Running / Pull Ups and Yapping to my Friends via Discord VC & FaceTime.
        </p>
        <Rainbow />
        <p>
           Wanna Chat? <a href="https://discord.gg/nermalcat69" class="inline-link">Discord</a>, <a href="https://www.instagram.com/arjunaditya_" class="inline-link">Insta</a>, <a href="https://cal.com/arjunaditya" class="inline-link">Call Me</a>
           or maybe <a href="mailto:hey@arjunaditya.xyz">hey@arjunaditya.xyz</a>.
        </p>
      </div>

      <p>I've been rejected a lot of times, but this is an ultramarathon, not a sprint.</p>
    </section>
  </Center>
</BaseLayout>

<script>
  import { addSticker, clearStickers, numStickers } from "../stores/sticker";

  function setupSticker() {
    const samButton = document.querySelector("[data-sam-button]");
    samButton?.addEventListener("click", () => addSticker());

    const shooButton = document.querySelector("[data-sam-shoo]");

    if (shooButton) {
      shooButton.addEventListener("click", () => {
        clearStickers();
      });

      numStickers.subscribe((num) => {
        num > 2
          ? shooButton.classList.add("visible")
          : shooButton.classList.remove("visible");
      });
    }
  }

  setupSticker();

  document.addEventListener("astro:after-swap", () => setupSticker());
</script>

<style lang="scss">

  p {
    font-size: var(--step-1);
  }

  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .home {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xl);
    padding: 0px 56px 0px 28px ;
    padding-block-end: var(--space-3xl);
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .work {
    padding-block: var(--space-3xl) var(--space-xl);
  }

  .intro {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    padding-block-start: var(--space-3xl);

    p {
      font-size: var(--step-1);
      letter-spacing: var(--letter-spacing-condensed);
      line-height: var(--line-height-tight);
    }
  }

  .other {
    p {
      font-size: var(--step-1);
      letter-spacing: var(--letter-spacing-condensed);
      line-height: var(--line-height-tight);
    }
  }

  [data-sam-button] {
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }
  }
</style>
