---
import Center from "../components/Center.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductsSection from "../components/ProductsSection.astro";
import Rainbow from "../components/Rainbow.astro";
import Protection from "../components/Protection.astro";
---

<BaseLayout
  title="Arjun Aditya"
  description="Arjun is a designer and developer based in Himachal."
  includeFooter
>
  <Center>
    <section class="home">
      <h1 class="visuallyhidden">Eva designs and builds for the web</h1>
      <div class="intro">
        <p>
          <strong><a href="/about" class="inline-link">Arjun Aditya</a></strong> is
          building products who likes Tech, Design, and Scraping 🍓 Currently living
          in Himachal.
          <!-- with my{" "}<span class="nowrap"
            ><a role="button" data-sam-button>Things</a>.</span
          > -->
        </p>
      </div>
      <Protection />

      <ProductsSection />
      <div class="intro">
        <p>
          I Love Running / Pull Ups and Yapping to my Friends via Discord VC & FaceTime.
        </p>
      </div>
      <div class="other">
        <Rainbow />
        <p>
           Wanna Chat? <a href="https://discord.gg/nermalcat69" class="inline-link">Discord</a>, <a href="https://www.instagram.com/nermalcat69/" class="inline-link">Insta</a>, <a href="https://cal.com/arjunaditya" class="inline-link">Call Me</a>
        </p>
      </div>
      <p>Want me to lead your Marketing Team at your Tech Startup? or Maybe smthg else? Yeah Sure - hmu.</p>

    </section>
  </Center>
</BaseLayout>

<script>
  import * as Fathom from "fathom-client";
  import { addSticker, clearStickers, numStickers } from "../stores/sticker";

  function setupSticker() {
    const samButton = document.querySelector("[data-sam-button]");
    samButton?.addEventListener("click", () => addSticker());

    const shooButton = document.querySelector("[data-sam-shoo]");

    if (shooButton) {
      shooButton.addEventListener("click", () => {
        clearStickers();
      });

      numStickers.subscribe((num) => {
        num > 2
          ? shooButton.classList.add("visible")
          : shooButton.classList.remove("visible");
      });
    }
  }

  setupSticker();

  document.addEventListener("astro:after-swap", () => setupSticker());

  document.addEventListener("astro:page-load", () => {
    document
      .querySelector("[data-sam-button]")
      ?.addEventListener("click", () => {
        Fathom.trackEvent("stickers: add sam");
      });

    document.querySelector("[data-sam-shoo]")?.addEventListener("click", () => {
      Fathom.trackEvent("stickers: shoo sam");
    });
  });
</script>

<style lang="scss">
  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .home {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xl);
    padding-block-end: var(--space-3xl);
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .work {
    padding-block: var(--space-3xl) var(--space-xl);
  }

  .intro {
    padding-block-start: var(--space-3xl);

    p {
      font-size: var(--step-4);
      letter-spacing: var(--letter-spacing-condensed);
      line-height: var(--line-height-tight);
    }
  }

  .other {
    p {
      font-size: var(--step-4);
      letter-spacing: var(--letter-spacing-condensed);
      line-height: var(--line-height-tight);
    }
  }

  [data-sam-button] {
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }
  }
</style>
