---
import Center from "../Center.astro";
import Logo from "./Logo.astro";

const currentPath = Astro.url.pathname;
const topLevelPath = currentPath.split("/")[1];

const navigation = [
  {
    label: "Writings",
    url: "/writings",
  },
  // {
  //   label: "Design",
  //   url: "/design",
  // },
  {
    label: "Gallery",
    url: "/gallery",
  },
  {
    label: "About",
    url: "/about",
  },
  {
    label: "Logs",
    url: "/logs",
  },
];
---

<header>
  <Center>
    <nav id="nav">
      <Logo />
      <div class="links">
        {
          navigation.map((item) => (
            <a
              href={item.url}
              data-fathom="nav-link"
              class={topLevelPath === item.url.split("/")[1] ? "active" : ""}
            >
              {item.label}
            </a>
          ))
        }
      </div>
    </nav>
  </Center>
</header>

<script>
  import * as Fathom from "fathom-client";


  document.addEventListener("astro:page-load", () => {
    document.querySelectorAll("[data-fathom='nav-link']").forEach((navlink) => {
      navlink.addEventListener("click", () => {
        const url = navlink.getAttribute("href");
        Fathom.trackEvent(`nav: click link (${url})`);
      });
    });
  });
</script>

<style lang="scss">
  header {
    width: 100%;
    padding-block: var(--space-s);
    position: sticky;
    background-color: var(--gray-1);
    top: 0;
    z-index: 10;
    border-bottom: 1px solid var(--gray-6);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-s);
  }

  .links {
    display: flex;
    align-items: stretch;
    gap: var(--space-2xs);
    margin-inline-end: calc(-1 * var(--space-s));

    a,
    button {
      display: inline-flex;
      align-items: center;
      background: transparent;
      text-decoration: none;
      line-height: 1;
      color: var(--gray-12);
      padding: var(--space-xs) var(--space-s);
      border: none;
      border-radius: var(--radius-full);
      cursor: pointer;
      transition: font-weight 0.2s ease-in-out;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          font-weight: var(--font-weight-bold);
        }

        &:active {
          transition: none;
        }
      }

      &.active {
        font-weight: var(--font-weight-bold);
      }
    }

    button[data-theme-toggle] {
      justify-content: center;
      position: relative;
      overflow: hidden;
      box-sizing: content-box;
      width: 20px;
      height: 20px;
      padding-inline: var(--space-xs);

      :global(svg) {
        transform-origin: 50% 200%;
        transition:
          transform 0.4s ease-out,
          opacity 0.2s ease-in-out;
        position: absolute;
      }
    }
  }

</style>
