---

---

<a id="logo" href="/" data-fathom="logo" transition:persist="logo">
  <svg width="284" height="161" id="logo" viewBox="0 0 284 161" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M284 126.437C283.997 122.168 282.978 117.969 281.039 114.235C279.099 110.502 276.304 107.357 272.914 105.095C273.918 102.293 274.533 99.2786 274.533 96.0924C274.522 89.9396 272.404 84.0039 268.58 79.4037C264.756 74.8036 259.489 71.8567 253.772 71.1185C254.889 67.8513 255.599 64.3718 255.599 60.6899C255.599 52.6419 252.607 44.9236 247.281 39.2328C241.955 33.542 234.731 30.345 227.199 30.345C223.459 30.345 219.909 31.1643 216.643 32.5703C215.033 26.1408 211.485 20.4572 206.548 16.3982C201.611 12.3393 195.56 10.1311 189.331 10.115C181.095 10.115 173.749 13.9182 168.561 19.8962C164.566 8.30441 154.228 0 141.997 0C129.766 0 119.428 8.30441 115.433 19.8962C112.793 16.8189 109.583 14.3606 106.008 12.6769C102.433 10.9933 98.5694 10.1209 94.6623 10.115C88.4339 10.1299 82.3837 12.3378 77.4482 16.3971C72.5126 20.4564 68.9669 26.1407 67.3599 32.5703C64.0043 31.1115 60.4175 30.3561 56.7948 30.345C49.2625 30.345 42.0387 33.542 36.7125 39.2328C31.3864 44.9236 28.3942 52.6419 28.3942 60.6899C28.3942 64.3718 29.1042 67.8513 30.2213 71.1185C24.5044 71.8567 19.2376 74.8036 15.4134 79.4037C11.5893 84.0039 9.47196 89.9396 9.46041 96.0924C9.46041 99.2786 10.0758 102.293 11.0792 105.095C7.71304 107.343 4.93265 110.462 2.99594 114.165C1.05923 117.867 0.0289267 122.032 0.000600309 126.273C-0.0277261 130.514 0.946838 134.694 2.8339 138.426C4.72096 142.157 44 141.5 44 141.5C44 141.5 69.5278 143.238 80.9164 139.627C92.3051 136.016 102.596 129.472 104.943 127.601C108.522 141.377 123.745 151.725 141.997 151.725C154.266 151.725 168.485 148.225 175.396 140.973C179.902 153.707 196.024 160.798 213.358 160.798C220.149 160.798 231.568 156.59 238.426 153.785C242.172 152.253 246.27 151.789 250.271 152.401C260.022 153.893 277.553 155.589 273.208 147.598C276.518 145.315 279.241 142.183 281.126 138.486C283.012 134.79 284 130.647 284 126.437Z" fill="black"/>
    </svg>
    
        
  <span class="visuallyhidden">Arjun Aditya</span>
</a>

<style lang="scss">
  #logo {
    width: 42px;
    margin-top: 0.2em;
    transform: translateY(-0.1em) rotate(-4deg);
  }


  @media (prefers-reduced-motion: no-preference) {
    [data-animating="true"] {
      .letter {
        stroke-dasharray: 1;
        stroke-dashoffset: 1;
        animation-name: stroke;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }

      .letter-e {
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(1, 0, 0.39, 1);
      }

      .letter-v {
        animation-duration: 0.2s;
        animation-delay: 0.6s;
        animation-timing-function: cubic-bezier(0.75, 0, 0, 1);
      }

      .letter-a {
        animation-duration: 0.4s;
        animation-delay: 0.85s;
        animation-timing-function: cubic-bezier(0, -0.01, 0.34, 0.9);
      }
    }
  }

  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>

<script>
  function handleAnimation() {
    // Set animating status to let SVG animations run to completion
    // Instead of being cut off when the user hovers away
    const logoElem = document.getElementById("logo");
    logoElem?.addEventListener("click", () => {
      if (logoElem.dataset.animating === "true") return;

      logoElem.dataset.animating = "true";

      setTimeout(() => {
        logoElem.dataset.animating = "false";
      }, 1300);
    });
  }

  handleAnimation();

  document.addEventListener("astro:after-swap", () => handleAnimation());
</script>

<script>
  import * as Fathom from "fathom-client";

  document.addEventListener("astro:page-load", () => {
    document
      .querySelector("[data-fathom='logo']")
      ?.addEventListener("click", () => {
        Fathom.trackEvent("nav: click logo");
      });
  });
</script>
