---

---

<div class="products">
    <p>Products</p>
</div>
  
  <style>
    .products {
      display: flex;
      flex-direction: column;

      justify-content: center;
      background-color: var(--gray-3);
      padding: var(--space-l);
      border-radius: var(--radius-m);
    }
  </style>
  