---
import SynthScreen from "./SynthScreen.astro";
---

<script>


</script>

<div
  id="synth"
  class="synth"
  tabindex="0"
  data-enabled="false"
  data-loading="false"
>
  <svg
    width="100%"

    viewBox="0 0 300 200"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
  >
    <SynthScreen />
  </svg>
</div>

<style lang="scss">
  // Theme
  .synth {
    max-width: 400px;
    --synth-color: var(--gray-12);


    svg {
      padding-top: 10px;
      
      * {
        fill: var(--synth-color);
        stroke: var(--synth-color);
      }
      
      [fill="none"] {
        fill: none;
      }
      
      [stroke="none"] {
        stroke: none;
      }
    }
  }
  @media screen and (max-width: 600px) {
		.synth {
      visibility: hidden;
		}
	}
</style>
